.columnauno{
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin: 0;
	padding:0;
	position: relative;
	vertical-align: top;
	width: calc(50% - 5px);
	width: -o-calc(50% - 5px);
	width: -moz-calc(50% - 5px);
	width: -webkit-calc(50% - 5px);
	margin-right: 10px;
}
.columnados{
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin: 0;
	padding:0;
	position: relative;
	vertical-align: top;
	width: calc(50% - 5px);
	width: -o-calc(50% - 5px);
	width: -moz-calc(50% - 5px);
	width: -webkit-calc(50% - 5px);
}
.columnatres{
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin: 0;
	padding:0;
	position: relative;
	vertical-align: top;
	width: calc(33% - 7px);
	width: -o-calc(33% - 7px);
	width: -moz-calc(33% - 7px);
	width: -webkit-calc(33% - 7px);
}

.tui-grid-02{
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin: 0;
	padding:0;
	position: relative;
	vertical-align: top;
	width: calc(50% - 5px);
	width: -o-calc(50% - 5px);
	width: -moz-calc(50% - 5px);
	width: -webkit-calc(50% - 5px);
	margin-right: 10px;
}

.hidden-sm{
	display: none;
}
.columnauno .notes, .columnados .notes{
	width: 100%;
}
.pjt-fullscreen{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
}
/*---Medias*---/*/
@media screen and (max-width: 360px) {
   figcaption{
   		font-size: 12px;
   		bottom: 0;
   }
}
@media screen and (min-width: 480px){
	.hidden-sm{
		display: inline-block;
		*display: inline;
		zoom: 1;
	}
}